
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body{
font-family: 'Nunito', sans-serif;
color: #363534;
}

/* ---------------------------
   LOGO CONTAINER AND NAV STYLES
   ------------------------------ */
#logo-container{
  text-align: center;
  height: auto;
  margin-top: 20px;
}
.nav-container{
  margin-top: 10px;
  text-align: center;
}

.nav li{
  text-transform: uppercase;
  font-weight:bold;
  font-size: 13px;
}
.nav-link{
  color: #363534;
}
.nav a:hover {
  color: #a71931;
  border-bottom: 7px solid #a71931;
  border-radius: 4px;
}

.fa{
  margin-right: 4px;
}
.fa-bell, .fa-question-circle{
  color: #ac9140;
}
.fa-user{
color: #007591;
}

/*----------------------------------
 BACKGROUND-PIC
 ---------------------------------  */
 .jumbotron-fluid{
   background-image: url("../img/background.jpg");
   width: 100%;
   height: auto;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }
.white-overlay{
  width: 80%;
  height: 800px;
  padding: 15px;
  padding-bottom: 0px;
  background-color: #FFFFFF;
  opacity: 0.85;
  text-align: center;
}
.embed-responsive{
  width: 50%;
}
.heading{
  padding: 20px;
  font-weight: bold;
}
.btn-default{
  background-color: #a71931;
  color: #FFFFFF;
  text-transform: uppercase;
  height: 52px;
  font-weight: bold;
  width: 100%;
}
